html
  head
    title Kishan Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo 
              img(src="/static/img/logo.png")
              | KDA
            li #[a(href="/") home ]
            li #[a(href="/") about ]
            li #[a(href="/") services ]
            li #[a(href="/") class info ]
            li #[a(href="/contact") contact us ]
    block content
    footer#footer 
            | Copyright 2022 KishanDanceAcademy.com | All rights reserved
